@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

.page {
  scroll-snap-align: end; /* Ensure snapping behavior */
  scroll-behavior: smooth; /* Smooth scrolling behavior */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* global.css or styles.css */

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes deleting {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.typing-container {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  transition: width 0.5s ease; /* Smooth transition */
}

.typing {
  border-right: 0.15em solid;
  animation: typing 2s steps(30, end) 1s 1 normal both, blink 0.75s step-end infinite;
}

.deleting {
  border-right: 0.15em solid;
  animation: deleting 1s steps(30, end) 1s 1 normal both;
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: currentColor;
  }
}

/* Custom styles for the blur effect */
@layer components {
  .bg-blur-lg {
    backdrop-filter: blur(8px); /* Adjust the blur radius */
    -webkit-backdrop-filter: blur(8px); /* For Safari support */
  }
}







