@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

.page {
  scroll-snap-align: end; /* Ensure snapping behavior */
  scroll-behavior: smooth; /* Smooth scrolling behavior */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
